html,
body {
  height: 100% !important; }

.news-link {
  color: #000000; }
  .news-link:hover {
    text-decoration: none;
    color: #000000; }

@media (max-width: 700px) {
  .login-fw-logo {
    max-width: 150px;
    max-height: 150px;
    margin: 30px; } }
