html,
body {
  height: 100% !important;
}

.news-link {
  color: #000000;
  &:hover {
    text-decoration: none;
    color: #000000;
  }
}

.login-fw-logo {
  @media (max-width: 700px) {
    max-width: 150px;
    max-height: 150px;
    margin: 30px;
  }
}
